.nav{
    z-index: 999;
}
.product{
      @media screen and (max-width: 1200px) {
        margin-top: 230px;
      }
    
      @media screen and (max-width: 992px) {
       margin-top: 290px;
      }
    
      @media screen and (max-width: 576px) {
        margin-top: 570px;
      }
}